<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bluemix Info Curation</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- ref:css //ajax.googleapis.com/ajax/libs/angular_material/<%= buildNumber %>/angular-material.min.css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endref -->
    <!-- ref:css //ajax.googleapis.com/ajax/libs/angular_material/<%= buildNumber %>/themes/blue-theme.css -->    
    <link rel="stylesheet" href="bower_components/angular-material/themes/blue-theme.css" />
     <!-- endref -->
  </head>
  <body ng-app="CurationApp" md-theme="blue">
    <md-toolbar class="md-blue-theme" layout="column">
      <div class="md-toolbar-tools" layout="column" flex="" tabindex="0">
        <div flex="" layout="row">
          <a href="logon">Log on</a>
        </div>
      </div>
    </md-toolbar>
    <div ng-controller="CurationController">
      <div layout="row" layout-sm="column">
        <div flex="50">
          <md-content>
            <md-card>
              <h2>Add content</h2>
              <form style="padding: 20px;" id="addEntryForm">
                <md-text-float label="Author display name" ng-model="article.authorDisplayName"></md-text-float>
                <md-text-float label="Article title" ng-model="article.title"></md-text-float>
                <md-text-float label="Link (http://...)" ng-model="article.link"></md-text-float>
                <md-text-float label="Article synopsis" ng-model="article.firstSentences"></md-text-float>
                <md-button class="md-fab" aria-label="Save entry" title="Save new article entry" ng-click="submitArticle($event)" md-theme="blue">
                  <md-icon icon="img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                </md-button>
              </form>
            </md-card>
          </md-content>
        </div>
        <div flex="50">
          <md-content>
            <md-card>
              <h2>Add author</h2>
              <form style="padding: 20px;" id="addPersonForm">
                <md-text-float label="Author display name" ng-model="author.displayName"></md-text-float>
                <md-text-float label="Twitter" ng-model="author.twitter"></md-text-float>
                <md-text-float label="Picture URL" ng-model="author.pictureUrl"></md-text-float>
                <md-button class="md-fab float-right" aria-label="Save author" title="Save new author entry" ng-click="submitAuthor($event)" md-theme="blue">
                  <md-icon icon="img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                </md-button>
              </form>
            </md-card>
          </md-content>
        </div>
      </div>
      <div layout="row" layout-sm="column">
        <div flex="">
          <md-content>
            <md-card>
              <h2>Result</h2>
              <div id="result1">{{result}}</div>
            </md-card>
          </md-content>
        </div>
      </div>
    </div>
    <!-- ref:js //code.jquery.com/jquery-2.1.1.min.js -->    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endref -->

    <!-- ref:js //ajax.googleapis.com/ajax/libs/angularjs/<%= angularNumber %>/angular.js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endref -->
    
    <!-- ref:js //ajax.googleapis.com/ajax/libs/angularjs/<%= angularNumber %>/angular-aria.js -->   
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <!-- endref -->
    
    <!-- ref:js //ajax.googleapis.com/ajax/libs/angularjs/<%= angularNumber %>/angular-animate.js-->    
    <script src="bower_components/angular-animate/angular-animate.js"></script>
     <!-- endref -->
   
    <!-- ref:js  //cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js  -->
    <script src="bower_components/hammerjs/hammer.js"></script>
    <!-- endref -->
 
     <!-- ref:js //ajax.googleapis.com/ajax/libs/angular_material/<%= buildNumber %>/angular-material.js -->   
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endref -->
    <script src="js/curationApp.js"></script>
  </body>
</html>
