<!DOCTYPE html>
<html ng-app="blueMixTimeLine" lang="en">
<head>
<title>Bluemix.info - The News Aggregator for IBM Bluemix
	Developers</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="alternate" type="application/rss"
	title="RSS Feed of Bluemix.info" href="http://www.bluemix.info/feed" />
<meta name="DESCRIPTION"
	content="Bluemix.info - The News Aggregator for IBM Bluemix Developers" />
<meta name="KEYWORDS"
	content="Bluemix.info - The News Aggregator for IBM Bluemix Developers" />

<!-- JS to be moved to the bottom, jquery before angular! -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"
	type="text/javascript"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"
	type="text/javascript"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"
	type="text/javascript"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"
	type="text/javascript"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
	type="text/javascript"></script>
<script src="js/timelinecontroller.js"></script>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>

<!-- Styles -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link href="css/bluemixinfo.css" rel="stylesheet" />

<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');

	ga('create', 'UA-57221418-1', 'auto');
	ga('send', 'pageview');
</script>
</head>

<body ng-controller="TimelineController">
	<bnavbar></bnavbar>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<!-- The time line not done yet
                   <bluetimeline></bluetimeline> 	-->
				<h3>Bluemix.info - The News Aggregator for IBM Bluemix
					Developers</h3>
<div ng-show="isCurrentUserCurator">
										 <a style=" color: darkred;" href="curation.html">Add
											Entry</a>
									</div>
				<br />
				<hr />
				<div ng-repeat="entry in curatedEntries">
					<table>
						<tr>
							<td style="vertical-align: top;">
								<div class="newsEntryImageDiv"
									style="display: initial; min-width: 110px;">
									<img src="{{entry.authorPictureURL}}" alt=""
										class="newsEntryImage" style="max-width: 120px;min-width: 120px;" />
								</div>
							</td>
							<td>
								
	<div style="margin-left: 25px;">
									<h3>

										<div>
											<a target="_blank" href="{{entry.newsEntryLink}}">{{entry.newsEntryTitle}}</a>
										</div>
									</h3>
									<p>
										<small>{{entry.authorDisplayName}} | <a
											href="https://twitter.com/{{entry.authorTwitter}}">{{entry.authorTwitter}}</a>
											|
										</small> <small>{{entry.newsEntryCurationDate}}</small>
									</p>
									<div class="newsAbstract">{{entry.newsEntryFirstSentences}}</div>
									
									<div style="margin-top:5px;" ng-show="isCurrentUserCurator">
										 <a style="color: darkred;" href="editEntry.html?id={{entry.newsEntryId}}">Edit
											Entry</a>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<hr />
				</div>
			</div>
			<div class="col-lg-3">
				<blueinfo></blueinfo>


				<div class="well" ng-show="incomingEntries">
					<h4>Not Curated News</h4>
					<div ng-repeat="entry in incomingEntries">


						<h1 style="font-size: 16px !important; margin-bottom: 4px;">

							<div>
								<a target="_blank" href="{{entry.newsEntryLink}}">{{entry.newsEntryTitle}}</a>
							</div>
						</h1>
						<p style="margin-bottom:1px;">
							<small>{{entry.authorDisplayName}} | </small> <small>{{entry.newsEntryPublicationDate}}</small>
						</p>
					
									<div ng-show="isCurrentUserCurator">
										 <a style=" color: darkred;" href="editEntry.html?id={{entry.newsEntryId}}">Edit
											Entry</a>
									</div>

						<br>
					</div>
				</div>

				<!-- <bluetweet></bluetweet> -->
				<div class="well">
					<h4>
						<a href="https://twitter.com/IBMBluemix">@IBMBluemix</a>
					</h4>
					<a class="twitter-timeline"
						data-chrome="nofooter noborders noheader transparent noscrollbar"
						href="https://twitter.com/IBMBluemix"
						data-widget-id="534352942095032320">Tweets by @IBMBluemix</a>
					<script>
						!function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/
									.test(d.location) ? 'http' : 'https';
							if (!d.getElementById(id)) {
								js = d.createElement(s);
								js.id = id;
								js.src = p
										+ "://platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js, fjs);
							}
						}(document, "script", "twitter-wjs");
					</script>
				</div>
				<blueresources></blueresources>
			</div>
		</div>
		<bluefooter></bluefooter>
	</div>
</body>
<script>
	jQuery(document).ready(function() {
		jQuery("abbr.timeago").timeago();
	});
</script>

</html>
